.gamedetail{
  display: grid;
  grid-template-columns: 30% 50% 20%;
  width: 45%;
  justify-items: center;
  align-items: center;
}
.outer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.playarea {
  border: 15px solid gainsboro;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.box{
  display: flex;
  flex-direction: row;
}
.square{
  height: 8vh;
  width: 4vw;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.r{
  background-color: red;
}
.g{
  background-color: green;
}
.b{
  background-color: blue;
}
.w{
  background-color: white;
}
.restart{
  color: blue;
  cursor: pointer;
}

